@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;/*علشان لما اضغط على اي قسم من الناف بار الفحة تعمل سكرول وتوديني ليه*/
}

html.active{
    overflow-y: unset;
}

@media (max-width:992px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }
}

@media (max-width:450px){
    html{
        font-size: 50% !important;
    }
}



body{
    min-width: 35rem !important;
}



@media (max-width:768px){
    body{
        padding-bottom: 6rem;
    }
}



/*For any Heading*/
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; 
    left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

@media (max-width:768px){
    .heading span{
        font-size: 2.5rem;
    }
}



/*For Any Button*/
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}



/*For Any Input*/
.input-box:focus{
    border:.1rem solid var(--green) !important;
}



/*For Any section*/
section{
    padding: 3rem 14rem;
}

@media (max-width:992px){
    section{
        padding: 3rem 6rem;
    }
}




/*Start top navbars*/
.navbars .top-navbar-1{
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbars .top-navbar-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);  /*معناها هات اللون اللي كتابناه في الرووت*/
    text-decoration: none;
}

.navbars .top-navbar-1 .logo i{
    color:var(--green); 
    /*معناها هات اللون اللي كتابناه في الرووت*/

}

.navbars .top-navbar-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
        /*معناها هات البوردر اللي كتابناه في الرووت*/
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.navbars .top-navbar-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.navbars .top-navbar-1 .search-form label{
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.navbars .top-navbar-1 .search-form label:hover{
    color:var(--green);
}

.navbars .top-navbar-1 .icons div,
.navbars .top-navbar-1 .icons a{
    font-size: 2rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
    text-decoration: none;
}

.navbars .top-navbar-1 .icons div:hover,
.navbars .top-navbar-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

@media (max-width:992px){
    .navbars .top-navbar-1{
        padding: 2rem;
    }
}

@media (max-width:768px){
    .navbars .top-navbar-1{
        box-shadow: var(--box-shadow);/*هنا جبت الظل اللي في الرووت*/
        position: relative;
    }

    .navbars .top-navbar-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .navbars .top-navbar-1 .search-form.active{
        top: 115%;
    }

    #search-btn{
        display: inline-block;
    }
}

.navbars .top-navbar-2{
    background:var(--green);
}

.navbars .top-navbar-2 .navbar{
    text-align: center;
    justify-content: center;
}

.navbars .top-navbar-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.navbars .top-navbar-2 .navbar a:hover{
    background:var(--dark-color);
    text-decoration: none;
}

.navbars .top-navbar-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


@media (max-width:768px){
    .navbars .top-navbar-2{
        display: none;
    }
}
/*End top navbars*/




/*Start bottom navbar*/
.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0;
    left:0; 
    right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2rem;
    padding:2rem;
    color:#fff;
    text-decoration: none;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

@media (max-width:768px){
    .bottom-navbar{
        display: block;
        min-width: 35rem;
    }
}
/*End bottom navbar*/




/*Start login sheet*/
.login-form-sheet{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0;
    right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
    transition: 0.5s ease-in-out;
}

.login-form-sheet.active{
    right:0;
}

.login-form-sheet form{
    background:#fff;
    border:var(--border);/*من الرووت*/
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-sheet form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}


.login-form-sheet form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-sheet form .input-box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-sheet form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem; /*لعمل مسافة بين الصفوف والاعمده بنفس الوقت*/
    padding:1rem 0;
}

.login-form-sheet form .checkbox label{
    font-size: 1.2rem;
    color:var(--light-color); /*جبته من الرووت*/
    cursor: pointer;
    margin-top: 5px;
}

.login-form-sheet form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-sheet form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-sheet form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-sheet #close-login-btn{
    position: absolute;
    top:2rem; 
    right:5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}
/*End login sheet*/




/*Start home section*/
.home{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

/*End home section*/




/*Start icons section */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

 .icons-container .icons i{
    font-size: 3rem;
    color:var(--green);
}


.icons-container .icons .content h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
} 

.icons-container .icons .content p{
    font-size: 1.4rem;
    color:var(--light-color);
} 
/*End icons section */




.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
    cursor: pointer;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
    text-decoration: none;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black) !important;
    background: #fff;
    font-size: 2rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff !important;
}





.newsletter{
    background:url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

@media (max-width:768px){
    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left: 0;
        max-width: 100%;
    }
}





.arrivals{
    margin-top: 8rem;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider a{
    text-decoration: none;
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}




/*Start deal Section*/
.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

/*End deal Section*/



/*Start reviews Section*/
.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
    border-radius: .8rem;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
    cursor: pointer;
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}




/*Start blogs Section*/
.blogs .blogs-slider .box{
    margin:2rem 0;
    border:var(--border);
    border-radius: .8rem;
}

.blogs .blogs-slider .box:hover{
    border:var(--border-hover);
    cursor: pointer;
}

.blogs .blogs-slider .box .image{
    height: 25rem;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
    padding:1.5rem;
}

.blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}

.blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 2;
}

/*End blogs Section*/




/*Start footer*/
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}


.footer .box-container .box{
    height: fit-content;
    padding: 2rem 0rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:.6rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:.8rem 0;
    text-decoration: none;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
    height: 15rem;
    background-color: var(--green);
    border-radius: 2rem;
}

.footer .box-container .box:nth-child(4) a:nth-child(4){
    text-transform: lowercase !important;
}


.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--black);
    margin:0 .3rem;
    border-radius: 50%; 
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.footer .share a:hover{
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.footer .share a:nth-child(1):hover{
    background:#3b5999;
}

.footer .share a:nth-child(2):hover{
    background:#1a9cf3;
}

.footer .share a:nth-child(3):hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer .share a:nth-child(4):hover{
    background:#007bb6;
}

.footer .share a:nth-child(5):hover{
    background:#e60023;
}


.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

/*End footer*/



.loader-container{
    position: fixed;
    top:0; 
    left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container img{
    height:10rem;
}

.loader-container.active{
    display: none;
}
